/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/08/2021, 2:23:55 PM
    Author     : dugwi731
*/

/* William Duggan, NZ Kendo Federation Stylesheet */

html {
    background: #ffffe6;
    color: white;
}

body {
    font-family: serif;
    margin: auto;
}

.boxes {
    width: 1000px;
    background: #e6b3b3;
    color: black;
    border: black solid;
    border-radius: 20px;
    padding: 20px;
    margin: 100px auto 20px auto;
    text-align: center;
    font-family: helvetica, sans-serif;
}

h1 {
    font-family: monospace;
    font-size: 25px;
    border: white solid;
    background: #f9c000;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 20px;
}


button:hover{
    color:white;
    
}

nav ul {
    margin: 20px;
    text-align: center;
}

nav ul li {
    display: inline-block;
    border: black solid;
    background: #f9c000;
    color: black;
    width: 150px;
    padding: 5px;
    text-align: center;
    list-style: none;
    font-family: helvetica, sans-serif;
}


h2 {
    text-align: center;
    /*	text-decoration: underline;*/
    margin: 0;
}


footer {
    text-align: center;
}


/* =================================== */

/* Styling for forms */
form {
    width: 700px;
    margin: auto;
    padding: 2px;
    border-radius: 5px;
}

fieldset {
    background-color: #10428c;
    color: white;
    margin: 10px;
    border: solid 1px;
}

legend {
    background-color: #0d3672;
    color: inherit;
    border: solid 1px;
    padding: 5px;
}

ul,
li {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

.textInputs label {
    float: left;
    width: 150px;
}

.textInputs input,
select {
    float: left;
    width: 300px;
}

.textInputs li {
    clear: both;
    height: 2em;
    margin-bottom: 2px;
}
/* =================================== */