/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 08/08/2021, 2:23:55 PM
    Author     : dugwi731
*/

/* William Duggan, NZ Kendo Federation Stylesheet */

html {
    /* Bluey gradient */
    /*    background-image: linear-gradient(to bottom, #09203f, #537895);*/

    /* Dark gradient */
    /*    background-image: linear-gradient(to bottom, #29323c, #485563);*/

    /* Light grey gradient */
/*    background-image: linear-gradient(to bottom, white, #d9d9d9);*/
    background-color: #d9d9d9;
    height: 100%;
}

body {
    font-family: serif;
    margin: auto;
}

.top-box {
    display: flex;
    justify-content: space-between;
    background: white;
    color: inherit;
    background-image: linear-gradient(to bottom, #f5f7fa, #c3cfe2);
}

#logInBox {
    margin: auto 5% auto auto;
}

#logInBox a {
    
    border: black solid;
    border-radius: 80px;
    background: white;
    color: black;
    padding: 15px;
    text-align: center;
    list-style: none;
    font-family: helvetica, sans-serif;
}

header {
    background: black;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 15px;
}

nav ul {
    margin: auto;
    text-align: center;
}

nav ul li, select {
    display: inline-block;
    border: black solid;
    border-radius: 15px;
    background: white;
    color: black;
    width: 120px;
    padding: 6px;
    margin: 0 15px 0 15px;
    text-align: center;
    list-style: none;
    font-family: sans-serif;
}

.boxes {
    width: 80%;
    font-family: sans-serif;
    background-color: white;
    color: black;
    border-radius: 15px;
    border-style: none;
    box-shadow: 5px 10px 10px #888888;
    padding: 20px;    
    margin: 20px auto 20px auto;
    text-align: left;
}

iframe {
    align-self: center;
}

h1 {
    font-family: monospace;
    font-size: 25px;
    border: white solid;
    background: #f9c000;
    color: black;
    width: 100%;
    height: 30px;
    text-align: center;
    padding: 20px;
}

h2 {
    text-align: center;
    /*	text-decoration: underline;*/
    margin: 0;
    padding: 5px;
}

footer {
    text-align: center;
}

/* =================================== */
/* =================================== */

/* Styling for forms */

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0px;
    width: 50%;
    margin: auto;
}
register-grading-events-container {
    width: 80%;
    margin: auto;
}
.grid-container section{
    padding: 10px;
}
/* Middle line between sign in and create account */
/*.grid-container section:first-child {
    border-right: solid 3px; 
}*/

form {
    width: 300px;
    margin: auto;
    padding: 10px;
    border-radius: 5px;
    text-align: center;
}

fieldset {
    background-color: white;
    color: black;
    border-radius: 15px;
    border-style: none;
    display: inline-block;
    box-shadow: 5px 10px 10px #888888;
}

input, #sex, #ethnicity {
    width: 70%;
    background-color: #f2f2f2;
    color: black;
    padding: 8px;
    text-align: center;
    margin-bottom: 6px;
    margin-top: 6px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

#sex, #ethnicity {
    width: 77%
}

input[type=submit] {
    width: 70%;
    background-color: #1a8cff;
    color: white;
    padding: 14px 20px;
    margin-bottom: 5px;
    margin-top: 5px;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}
input[type=submit]:hover {
    background-color: #0066cc;
}

/* =================================== */
/* =================================== */

/* Styling for dropdown box */
.dropbtn {
  cursor: pointer;
}
.dropbtn:hover, .dropbtn:focus {
  background-color: #cccccc;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 120px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.show {display: block;}

/* =================================== */
/* =================================== */

/* Styling for tables */

#eventTable {
    margin: auto;
    border-collapse: collapse;
    border: 1px solid black;
    width: 50%;   
}
th, td {
    background-color: #D7D7D7;
    border: 1px solid black;
    text-align: center;
    padding-top: 3px;
    padding-bottom: 3px;
    width: 100px;
}