<!DOCTYPE html>
<html lang="en" ng-app="MemberApp">
    <head>
        <title>New Zealand Kendo Federation</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="css/style.css">
        <script src="js/angular.js"></script>
        <script src="js/angular-resource.js"></script>
        <script src="js/ngStorage.js"></script>
        <script src="js/dropdownList.js"></script>
        <script src="js/signIn.js"></script>
    </head>

    <body ng-controller="MemberController as membCtrl">
        <section class="top-box">
            <figure>
                <!-- divided image size by 4 to set width and height -->
                <img src="images/kendoLogo.png" alt="Kendo Logo"> 
            </figure>
        </section>

        <header>
            <nav>
                <ul>
                    <li><a href="index.html">Home</a></li>
                    <li><a href="">About</a></li>
                    <li onclick="myFunction()" class="dropbtn">Martial Arts
                        <div id="myDropdown" class="dropdown-content">
                            <a href="">Kendo</a>
                            <a href="">Iaido</a>
                            <a href="">Naginata</a>
                            <a href="">Judo</a>
                        </div>
                    </li>
                    <li><a href ="">News & Events</a></li>
                    <li><a href ="">Locations</a></li>
                    <li><a href ="">Contact</a></li>
                </ul>
            </nav>
        </header>


        <main>

            <div class="grid-container">
                <section>
                    <h2>Sign in</h2>
                    <p>{{membCtrl.signInMessage}}</p>

                    <form ng-submit="membCtrl.signIn(email, password)">
                        <fieldset class="textInputs">
                            <input type="email" ng-model="email" id="email" tabindex="1" required placeholder="Email address">
                            <input type="password" ng-model="password" id="password" tabindex="2" required placeholder="Password">
                            <p><a href="link...">Forgot your password?</a></p>
                            <input type="submit" name="submit" value="Sign In">
                        </fieldset>
                    </form>
                </section>

                <section>
                    <h2>Create an account</h2>

                    <form ng-submit="membCtrl.registerMember(member)">
                        <fieldset class="textInputs">
                            <input type="text" ng-model="member.fName" id="fName" tabindex="1" required pattern="[a-zA-Z '-]+" placeholder="First name">
                            <input type="text" ng-model="member.lName" id="lName" tabindex="2" required pattern="[a-zA-Z '-]+" placeholder="Last name">
                            <input type="email" ng-model="member.email" id="email" tabindex="3" required placeholder="Email address">
                            <input type="tel" ng-model="member.phone" id="phone" tabindex="4" required pattern="[0-9 ()-]+" placeholder="Phone number">
                            <input type="text" ng-model="member.birthday" id="date" tabindex="5" required placeholder="Birthday" onfocus="(this.type = 'date')">
                            
                            <select id="ethnicity" ng-model="member.ethnicity" tabindex="6" required placeholder="Ethnicity">
                                <option value="" disabled selected hidden>Ethnicity</option>
                                <option value="volvo">NZ European</option>
                                <option value="saab">NZ Maori</option>
                                <option value="fiat">Pacific Peoples</option>
                                <option value="audi">Asian</option>
                                <option value="audi">Middle Eastern</option>
                                <option value="audi">African</option>
                                <option value="audi">Latin American</option>
                                <option value="audi">Other</option>
                            </select>                            
                            <select id="sex" ng-model="member.sex" tabindex="7" required placeholder="Sex">
                                <option value="" disabled selected hidden>Sex</option>
                                <option value="volvo">Male</option>
                                <option value="saab">Female</option>
                                <option value="saab">Helicopter</option>
                            </select>
                            <input type="password" ng-model="member.password" id="password" tabindex="8" required placeholder="Password">
                            <label><input type="submit" name="submit" value="Create Account"></label>
                        </fieldset>
                    </form>
                </section>
            </div>
        </main>
    </body>

</html>
